.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;

  &:hover {
    background-color: #ccc;
    color: #fff;
  }

  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
  }
}
